.thumbnail {
    position: relative;
	padding-top: 3%;
}

.caption {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
}

.sub-title {
	font-size: 60px;
	padding-top: 120px;
	color: #c7ea46;
}