{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Events{% endblock %}

{% block content %}
<div class="container" style="padding: 3%;">
    <div class="text-center">
        <div class="card-deck">
            {% for event in all_events %}
            <div class="card">
                <img class="card-img-top" src="{{ event.image_url }}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{ event.name }}</h3>
                    <h6>{{ event.date }}</h6>
                    <p class="card-text">
                        {{ event.details }}
                    </p>
                    <a class="btn btn-outline-dark" href="{% url 'events:member_register' event_site=event.site %}">Member Registration</a>
                    <div style="margin-bottom: 10px;"></div>
                    <a class="btn btn-outline-dark" href="{% url 'events:google_member_register' event_site=event.site %}">Google Member Registration</a>
                    <div style="margin-bottom: 10px;"></div>
                    <a class="btn btn-outline-dark" href="{% url 'events:non_member_register' event_site=event.site %}">Non Member Registration</a>

                    <hr />
                    <h6>Member participants:</h6>
                    {% if event.member_participants.all %}
                    {% for member_participant in event.member_participants.all %}
                    <p style="margin-bottom: 1px">{{ member_participant.username }}</p>
                    {% endfor %}
                    {% else %}
                    <p style="margin-bottom: 1px">None</p>
                    {% endif %}

                    <hr />
                    <h6>Google Member participants:</h6>
                    {% if event.google_member_participants.all %}
                    {% for google_member_participant in event.google_member_participants.all %}
                    <p style="margin-bottom: 1px">{{ google_member_participant.username }}</p>
                    {% endfor %}
                    {% else %}
                    <p style="margin-bottom: 1px">None</p>
                    {% endif %}

                    <hr />
                    <h6>Non Member participants:</h6>
                    {% if event.non_member_participants.all %}
                    {% for non_member_participant in event.non_member_participants.all %}
                    <p style="margin-bottom: 1px">{{ non_member_participant.username }}</p>
                    {% endfor %}
                    {% else %}
                    <p style="margin-bottom: 1px">None</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
