{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{ event.name }} Registration{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<div class="container">
		<div class="row" style="padding-top:3%">
			<div class="col-6">
                {% if message %}
                <h4>{{ message }}</h4>
                {% endif %}
                <h3 style="color: rgb(255, 194, 80)">Hi, {{ user.first_name }}! Please click the button below to register to {{ event.name }} event!</h3>
				<form action="{% url 'events:google_member_register' event_site=event.site %}" method="POST">
					{% csrf_token %}
					<br>
					<button class="btn btn-outline-dark btn-lg" type="submit" value="Create participant">REGIST</button>
				</form>
			</div>
			
			<div class="col-6">
				<center><h1 class = "sub-title-ev"><strong><i>R E G I S T<br> N O W !</i></strong></h1></center>
			</div>
			
		</div>
    </div>
	{% include 'events/img_down.html' %}
             
{% else %}
	<script type="text/javascript">
    	alert("Please Login First")
    	window.location.replace("{% url 'events:events' %}")
    </script>
{% endif %}
    
	
{% endblock content %}
