{% load staticfiles %}

{% block content %}
<head>
	<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/css_reg_event.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
	
<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="{% static 'events/img/yellowcity.jpg' %}" alt="image-on-top-of-footer" class="img-fluid">
    </div>
</div>
{% endblock content %}
