{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{ event.name }} Registration{% endblock %}

{% block content %}

	<div class="container">
		<div class="row" style="padding-top:3%">
			<div class="col-6">
                <h3 style="color: rgb(255, 194, 80)"> {{ event.name }} event registration form for Non Student Union Member</h3>
                {% if message %}
                <h4>{{ message }}</h4>
                {% endif %}
				<form action="{% url 'events:non_member_register' event_site=event.site %}" method="POST">
					{% csrf_token %}
					{{ regist_event_form }}
					<br>
					<button class="btn btn-outline-dark btn-lg" type="submit" value="Create participant">REGIST</button>
				</form>
			</div>
			
			<div class="col-6">
				<center><h1 class = "sub-title-ev"><strong><i>R E G I S T<br> N O W !</i></strong></h1></center>
			</div>
			
		</div>
    </div>
	{% include 'events/img_down.html' %}
            
	
{% endblock content %}
