{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{ event.name }} Registration{% endblock %}

{% block content %}
    <div class="container">
		<div class="row" style="padding-top:3%">
            <center><h1 class = "sub-title-ev"><strong><i>Please select the event that you want in the events page first!</i></strong></h1></center>
		</div>
    </div>
	{% include 'events/img_down.html' %}
	
{% endblock content %}
