{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}User Info{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	<style type="text/css">
		.card {
        margin: 0 auto; /* Added */
        margin-top: 2%;
        margin-bottom: 2%;
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
	</style>

	<div class="text-center">

		<div class="card">
		  	<div class="card-body">
		  		<img src="https://dcassetcdn.com/common/images/v3/no-profile-pic-tiny.png" style="border-radius: 25px; max-width: 10vw;">
		  		<br>
		  		<br>
		   		<h5 class="card-title" style="text-transform: uppercase;">{{user.first_name}} {{user.last_name}}</h5>
		    	<h6 class="card-subtitle mb-2 text-muted"> {{user.email}}</h6>
		    	<p class="card-text"><b>Events Registered: {{count}}<b></p>
		    	<div class="card-deck">
					{% if registered_events %}
					{% else %}
					<div class="card">
						<div class="card-body">
								<h5 class="card-title">None</h5>
								<p class="card-text"></p>	
						</div>
					</div>
					{% endif %}
				</div>	    	
		  	</div>
		</div>
	</div>
<script>
	$(document).ready(function(){
		$.ajax({
			method: "GET",
			url: "get-events/",
			data: {},
			success: function(response) {
				var all_events = response.data;
				for (var event in all_events) {
					var e = '<div class="card">\
								 <img class="card-img-top" src="' + all_events[event].image_url + '" alt="Card image cap">\
									 <div class="card-body">\
										<h5 class="card-title">' + all_events[event].name + ' (' + all_events[event].date + ')' + '</h5>\
										<p class="card-text">' + all_events[event].details + '</p>\
									 </div>\
								 </div>\
							 </div>';
					$(".card-deck").append(e);
				}
			}
		})
	});
</script>
{% else %}
	<script type="text/javascript">
		alert("Login First")
		window.location.replace("/login/")
	</script>
{% endif %}
	
	{% endblock %}
