{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{ news.title }}{% endblock %}

{% block content %}
<head>
    <style>
        #like-form {
            display: none;
        }
    </style>
</head>

<div class="container"  style=" display: flex;justify-content: center; padding: 3%;">
    <div class="text-center">
        <div class="card" style="width: 50vw;">
            <img class="card-img-top" src="{{ news.image_url }}" alt="Card image cap">
            <div class="card-body">
                <button type="button" class="btn btn-link" onclick="toogle()"><img src="{% static 'news/img/like.jpg' %}" alt="HTML tutorial" style="width:42px;height:42px;border:0;"></button>
                
                <div id="like-form">
                    <form class="status-form" action="{% url 'news:detail' news_site=news.site %}" method="POST">
                        {% csrf_token %}
                        {{ like_form }}
                        <br />
                        <button class="btn btn-outline-dark btn-lg" type="submit" value="Like">Like!</button>
                    </form>
                    <hr />
                </div>

                {% if message %}
                <h4>{{ message }}</h4>
                {% endif %}

                <h3><Strong>{{ news.title }}</Strong></h3>
                <h6>{{ news.pub_date }}</h6>
                <p class="card-text">
                    {{ news.details|linebreaks }}
                </p>
                
                <br />
                <h6>Liked by:</h6>
                {% if likers %}
                {% for liker in likers %}
                <p style="margin-bottom: 1px">{{ liker.username }}</p>
                {% endfor %}
                {% else %}
                <p style="margin-bottom: 1px">None</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function toogle() {
        var x = document.getElementById("like-form");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>    
{% endblock %}
