{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}News{% endblock %}

{% block content %}
<div id="carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		{% for news in all_news %}
        <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
		{% endfor %}
	</ol>
	<div class="carousel-inner">
		{% for news in all_news %}
		<div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
			<img class="d-block w-100" src="{{ news.image_url }}"  alt="{{ news.title }}">
			<div class="carousel-caption d-none d-md-block">
				<h5>{{ news.title }}</h5>
			</div>
		</div>
		{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div class="container">
	{% for news in all_news %}
	<div class="row">
		<div class="col-8">
			<div class="media" style="padding: 3%;">
				<img class="align-self-start mr-3" src="{{ news.image_url }}" width="120" height="120" alt="Generic placeholder image">
				<div class="media-body">
					<h5 class="mt-0">{{ news.title }}</h5>
					<p>{{ news.pub_date }}</p>
					<p class="mb-0">
						{{ news.details|truncatewords:50 }}
					</p>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="text-center" style="padding-top: 10%;">
				<a href="{% url 'news:detail' news_site=news.site %}" role="button" class="btn btn-secondary btn-lg">See Details</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
