<!-- Source: https://realpython.com/django-and-ajax-form-submissions/
			 https://bootsnipp.com/snippets/featured/bootstrap-social-card -->

{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}About Us{% endblock %}

{% block content %}
<head> 

<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

	<style>
		.sub-title {
			font-size: 60px;
			padding-top: 20px;
			color: #c7ea46;
		}

		span{
			font-size:15px;
		}

		.box-part{
			background:#EEE;
			border-radius:0;
			padding:60px 10px;
			margin:30px 0px;
		}		
		
		.box-testi-part{
			background:#EEE;
			padding:20px 20px;
			margin:20px 0px;
		}

		.text{
			margin:5px 0px;
		}
	</style>
</head>

<div class="container">
	<h1 class = "sub-title"><strong><i>About Us</i></strong></h1>

	<div class="row">
	
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="box-part text-center">
				<i class="fas fa-question fa-4x"></i>
				<div class="title">
					<h4><br>Who are we?</h4>
				</div>  
				<div class="text">
					<span>STUDENT UNION is a platform that accommodates <b>publications from campus events</b> held by the students.</span>
				</div>
			</div>
		</div>
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="box-part text-center">
			<i class="fas fa-calendar-alt fa-4x"></i>		
			<div class="title">
					<h4><br>Uptodate</h4>
				</div>
				<div class="text">
					<span>We provide a list of the <b>latest collections</b> of campus events and news according to the existing events.</span>
				</div>
			</div>
		</div>	 
			
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="box-part text-center">
			<i class="fas fa-users fa-4x"></i>
				<div class="title">
					<h4><br>Open to Everyone</h4>
				</div>
				<div class="text">
					<span><b>Anyone can register</b> as a participant in the available event, both from students and the outside community.</span>
				</div>
			</div>
		</div>
	
	</div>		
</div>

<div class="container">
	<h1 class = "sub-title"><strong><i>Testimonial</i></strong></h1>
	{% if data_obj %}
		{% for data in data_obj %}
			<div class="box-testi-part col-lg-8">
				<div class="text">
					<span>" {{data.testimonial_message}} "</span>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<span>There is no testimonial yet.</span>
	{% endif %}
</div>

<div class="container">
	<div id="testi-here">

	</div>
</div>

<div class="content">
    <div class="container">
		<h1 class = "sub-title"><strong><i>Help us to improve!</i></strong></h1>
		
		{% if user.is_authenticated %}
			<span>Let us know about your opinion toward us by giving testimonial below.</span>
			<br><br>
			
			<form id="post-form" action="{% url 'about:about' %}" method="POST">
				{% csrf_token %}
				<div id="the_post">
					{{ testimonial_form }}
				</div>
				<br>
				<button class="btn btn-outline-secondary" type="submit" value="Create Testimonial">Submit</button>
			</form>
		
		{% else %}
			<span>Login and let us know about your opinion toward us.</span>
			<br><br>
			
		{% endif %}
		
    </div>
</div>

<br>

<script>
	// Submit post on submit
	$('#post-form').on('submit', function(event){
		event.preventDefault();
		console.log("form submitted!")  // sanity check
		create_post();
	});

	// AJAX for posting
	function create_post() {
		console.log("create post is working!") // sanity check
		$.ajax({
			url 	: 'create-post/', // the endpoint
			type 	: 'POST', // http method
			<!-- async	: true, -->
			<!-- datatype: 'json', -->
			data 	: { the_post : $('#post-text').val() }, // data sent with the post request

			// handle a successful response
			success : function(json) {
				$('#post-text').val(''); // remove the value from the input
				console.log(json); // log the returned json to the console
				$("#testi-here").append(
								'<div class="box-testi-part col-lg-8">'+
								'<div class="text">'+
								'<span>"'+json.message+'"</span></div></div>'
								);
				console.log("success"); // another sanity check
			},

			// handle a non-successful response
			error : function(xhr,errmsg,err) {
				console.log("fail");
			}
		});
	};
</script>

{% include 'img_bottom.html' %}
{% endblock content %}
