{% load staticfiles %}

{% block content %}
<head>
	<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<style>	
	.thumbnail {
		position: relative;
		padding-top: 3%;
	}

	.caption {
		position: absolute;
		top: 25%;
		left: 0;
		width: 100%;
}
	</style>	
</head>
	
<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="{% static 'about/img/yellowbrick.jpg' %}" alt="image-on-top-of-footer" class="img-fluid">
        <div class="caption">
            <h3 style="font-size: 3vw;">
			"Without continual growth and progress,<br>
			such as word as improvement, achievement, <br>
			and success have no meaning."<br><br>
			-Benjamin Franklin</h3>
        </div>
    </div>
</div>
{% endblock content %}