{% load staticfiles %}

{% block content %}
<head>
	<meta charset = "utf-8" name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'member/css/css_reg_member.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
	
<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="{% static 'member/img/yellowbrick.jpg' %}" alt="image-on-top-of-footer" class="img-fluid">
        <div class="caption">
            <h3 style="font-size: 3vw;">
			"You see, it's never the environtment,<br>
			it's never the events of our lives, <br>
			but the meaning we attach to the events - <br>
			how we interpret them-that shapes who we <br>
			are today and who we'll become tomorrow."<br><br>
			-Tony Robins</h3>
        </div>
    </div>
</div>
{% endblock content %}
