{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Member Registration{% endblock %}

{% block content %}
	<div class="container">
		<div class="row" style="padding-top:3%">
			<div class="col-6">
				<center><h1 class = "sub-title"><strong><i>B E<br>O U R<br>M E M B E R !</i></strong></h1></center>
			</div>
			
			<div class="col-6">
				<form class="status-form" action="{% url 'member:member' %}" method="POST">
					{% csrf_token %}
					{{ member_form }}
					<br>
					<button class="btn btn-outline-dark btn-lg" type="submit" value="Create Status">SUBMIT</button>
				</form>
			</div>
		</div>
    </div>
	
	{% include 'member/img_bottom.html' %}
    
	
{% endblock content %}
