{% extends 'main/base.html' %}
{% load static %}

{% block title %}Thankyou!{% endblock %}

{% block content %}
<div class="container">
	<div class="text-center">
		<h1 style="font-size: 100px;"><Strong>THANK YOU!</Strong></h1>
		<img  src="{% static 'member/img/success.png' %}" class="img-fluid" width="200" height="200"  alt="...">
		<h1 style="font-size: 70px;">Your Data Has Been Successfully Saved!</h1>		
	</div>	
</div>

{% endblock %}
