{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} · Student Union</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href='https://fonts.googleapis.com/css?family=Basic' rel='stylesheet'>
        <style type="text/css">
            .navbar {
            -webkit-box-shadow: 0 8px 6px -6px #999;
            -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
            }
        </style>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="931296879747-sfs75j0kabjn1hplvr1lun8qsu9q5a8m.apps.googleusercontent.com">
    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" style="padding-left: 2%" href="#">
            <img src="{% static 'main/img/logo1.png' %}" width="70" height="70" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <div class="container" >
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:index' %}" style="padding-right: 55px"><font size="4" face="Basic" color="Black"><Strong>Home</Strong></font></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news:news' %}" style="padding-right: 55px"><font size="4" face="Basic" color="Black"><Strong>News</Strong></font></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'events:events' %}" style="padding-right: 55px"><font size="4" face="Basic" color="Black"><Strong>Events</Strong></font></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'member:member' %}" style="padding-right: 55px"><font size="4" face="Basic" color="Black"><Strong>Member</Strong></font></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'events:register' %}" style="padding-right: 55px"><font size="4" face="Basic" color="Black"><Strong>Register</Strong></font></a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="{% url 'about:about' %}" style="padding-right: 55px"><font size="4" face="Basic" color="Black"><Strong>About Us</Strong></font></a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" style="padding-right: 10px" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font size="4" face="Basic" color="Black"><Strong>{{ user.first_name }}</Strong></font></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <ul>
                                        <li>
                                            <a href="{% url 'logout' %}"   onclick="signOut()">Sign Out                        
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'userinfo:userpage' %}"> User Info </a>
                                        </li>

                                    </ul>
                                    
                                </div>
                            </li>
                            <script>
                                function signOut() {
                                    alert("Anda berhasil logout")
                                    var auth2 = gapi.auth2.getAuthInstance();
                                    auth2.disconnect();
                                    auth2.signOut().then(function () {
                                        console.log('User signed out.');  

                                    });
                                }
                                function onLoad() {

                                    gapi.load('auth2', function() {
                                        gapi.auth2.init();
                                    
                                    });
                                           
                                }
                            </script>
                            <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main:loginpage' %}" style="padding-right: 55px"><font size="4" face="Basic" color="Black"><Strong>Login</Strong></font></a>
                            </li>
                            
                        {% endif %}
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <!--footer-->
        <div style="height: auto; background-color: #121516;">
            <div class="container" style="padding:5%; ">
                <div class="row">
                    <div class="col">   
                    </div>
                    <div class="col-6">
                        <div class="text-center">
                            <img  src="{% static 'main/img/logo1.png' %}" class="img-fluid"  alt="...">
                            <h4 style="font-size:20px; color: white; padding-top: 2%;">© STUDENT UNION | Depok, West Java, Indonesia </h4>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center" style="padding-top:1%">
                                        <h6 style="color: white;">P:  +6281317250077</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center" style="padding-top:1%">
                                        <h6 style="color: white;">E:  studentUnion@gmail.com</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center" style="padding-top:3%">
                                    <h6 style="color: white;">-Kelompok 11 PPW C-</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
