{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="posisi">
	<img src="{% static 'main/img/homes.jpg' %}" alt="" class="img-fluid" style="width:100%;">
	<div class="text-block"> 
		<h1 style="font-size: 8vw; font-family: Basic;">STUDENT<br>UNION</h1>

	    
	</div>
</div>

{% endblock %}
