{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
	<title>Login</title>
	<meta charset="utf-8">

	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/style2.css' %}">

</head>

<body id="LoginForm">
	<div class="container">
		<div class="login-form">
			<div class="main-div">
    			<div class="panel">
    				<img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png" alt="..." style="max-width: 25%; height: auto; padding: .25rem;">
   					<h2>Login</h2>
   					<p>Please Login With Gmail</p>
   				</div>
    			<form id="Login" method="POST">
    				

    
        			<a type="button" class="loginBtn loginBtn--google" href="{% url 'social:begin' 'google-oauth2' %}"> Login with Google</a>
        			

    			</form>
    		</div>
			
		</div>
	</div>
	



</body>
</html>